<div>
    <div style="height: 40px; line-height: 24px; padding: 8px 16px;">
        <strong>Curated Auto Discounts:</strong> Build your passion, but not at retail
    </div>
    <div style="height: 60px; line-height: 24px; padding: 16px; text-align:center; color: white; background:url('https://app.clickfunnels.com/images/black-geo.png')">
        Get 5% Discount on All RestoMod Products: CODE "rm"
    </div>
    <div class="row">
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://fxo.co/5OwV">
                    <img class="img-responsive" src="{{ asset('images/dashboard/good_year.png') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    $75 Off Goldyear Tires
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    New tires for any of your vehicles at a discount. Click through link <a href="http://fxo.co/5OwV">here</a> to get deal even better deals.
                </div>
            </div>
        </div>
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://www.classicdiscountparts.com/">
                    <img class="img-responsive" src="{{ asset('images/dashboard/classic_discount.png') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    5% Off Dakota Digital Gauges
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    Nothing lights up a dash like a fresh set of gauges. Watchh your car perform with a new set. Use code: "GAUGE5"
                </div>
            </div>
        </div>
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://www.hurst-shifters.com/march-2018-instant-rebate">
                    <img class="img-responsive" src="{{ asset('images/dashboard/hurst.png') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    Up To $75 Off Hurst, FlowMaster, and B&M
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    Time to crank up the performance. Whether its a new shift knob or complete exhaust get it for less. Click <a href="http://www.hurst-shifters.com/march-2018-instant-rebate">here</a>
                </div>
            </div>
        </div>
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://fxo.co/5Owg">
                    <img class="img-responsive" src="{{ asset('images/dashboard/autozone.jpg') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    10% Off Online Orders
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    For all our needs from news clutch fluid, to detailing products, or just some new valve steams get a great discount using code: "<a href="http://fxo.co/5Owg">EMAIL10</a>"
                </div>
            </div>
        </div>
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://fxo.co/5OwZ">
                    <img class="img-responsive" src="{{ asset('images/dashboard/advance_auto_parts.png') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    15% Off Any Order
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    Parts, parts, and more parts but now at discount. Use special code: "<a href="http://fxo.co/5OwZ">D82</a>"
                </div>
            </div>
        </div>
        <div style="display:flex; align-items:center; padding: 16px 0px;">
            <div class="col-xs-4" style="">
                <a href="http://fxo.co/5Owf">
                    <img class="img-responsive" src="{{ asset('images/dashboard/autoparts_warehouse.png') }}"></img>
                </a>
            </div>
            <div class="col-xs-8">
                <div style="line-height:20px; padding: 8px 0px; border-bottom: 2px solid #e2e7e8; font-size: 18px; font-weight: 600; color: #616161">
                    6% Off Any Order
                </div>
                <div style="padding: 8px 0px; color: #727272; font-weight: bold; font-size: 14px;">
                    Covering more of your automotive needs, feel good buying those couple parts you've been waiting for with code:  "<a href="http://fxo.co/5Owf">APWIRSPRIN6</a>"
                </div>
            </div>
        </div>
    </div>
</div>
