{% extends 'RestomodsListingBundle:Sweepstakes:base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block _pre_body_block %}
<img src="https://trends.revcontent.com/conv.php?t=kpCplMD2Gf4gm6Evm5IMGbqF1h0NUHksJT8KYKQ5ruvvTWhs3wEvdlbx7DVWhJPf" style="position:absolute"/>
{% endblock _pre_body_block %}
{% block google_tag_manager_data_layer %}
<script>
    dataLayer = [{
        'flowStep': 'step2'
    }];
</script>
{% endblock google_tag_manager_data_layer %}
{% block extra_stylesheets %}
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<style>
    .semi-gray-bg { background: rgba(45,45,45,0.79);}
    .dark-gray {color: #606060;}
    .border-red {border-color: #E43B2C;}
    .font-18 {font-size: 18px;}
    .font-28 {font-size: 28px;}
    .h-1 {height: 1px; background: #e2e7e8;}

    .packages-container {padding: 16px;background-color:rgba(255, 255, 255, 0.341176);}
    .package-wrapper {padding: 12px;min-width: 230px;}
    .package {background:#FFF;line-height:normal;border-radius:4px;width:100%;}
    .package .header {color: #333;padding:15px; font-size: 34px;font-family: "Droid Sans", Helvetica, sans-serif;font-weight: 700}
    .package .content {flex:1;font-family: Quattrocento, Helvetica, sans-serif !important;font-size:23px;}
    .package .content .price-part {background:#F5F5F5;color:#333;text-align:center;font-family:sans-serif;}
    .package .content .price-part .small {font-size: 13px;margin:20px 0px}
    .package .content .price-part .price {font-size: 70px;line-height:58px;}
    .package .content .price-part .currency {font-size: 20px;margin:4px 4px 0px 0px;}
    .package .content ul {background:white;font-size:14px;padding-left: 0px;list-style: none;font-family:sans-serif;margin:unset;}
    .package .content ul li {padding:10px 15px;text-align:center;border-bottom:1px solid #ddd;}

    .package .content .saying {font-size:28px;font-family: "Droid Sans", Helvetica, sans-serif;}
    .package-wrapper.Quartz {order:1;}
    .package-wrapper.Quartz .package .header{background:#717F79;}
    .package-wrapper.Amethyst {order:2;}
    .package-wrapper.Amethyst .package .header{background:#927BCA;}
    .package-wrapper.Sapphire {order:3;}
    .package-wrapper.Sapphire .package .header{background:#387BBF;}
    .package-wrapper.Diamond {order:4;}
    .package-wrapper.Diamond .package .header{background:#CBCCC6;}
    body.sweepstakes a.elButton.large .main { font-size: 24px;}
    body.sweepstakes a.elButton.large .sub { font-size: 12px;}
    body.sweepstakes .package .footer {padding: 0px;}
    body.sweepstakes .footer.body {font-size:16px;  }

    .payment-form .input-container{padding:10px 0px;}
    .payment-form .input-container .form-control{height:50px;}
    .payment-form .input-container .form-control.is-invalid{border-color:#E43B2C;}
    .payment-form .control-label{font-size:12px;}
    .payment-form .divider{padding:5px 0px;}
    .payment-form .divider span{font-size:12px;color:#626262;font-weight:bold;}
    .payment-form .card-form{margin-top:20px;border:unset;padding:15px;border-radius:4px;background:rgba(255, 255, 255, 0.341176);}
    .payment-form .card-form.card-js .card-number-wrapper {box-shadow:unset;-webkit-box-shadow:unset;}
    .payment-form .card-form.card-js .expiry-wrapper {box-shadow:unset;-webkit-box-shadow:unset;}
    .payment-form .card-form.card-js .cvc-wrapper {box-shadow:unset;-webkit-box-shadow:unset;}

    .ui-widget.ui-widget-content {background-image: linear-gradient(to bottom, #0F8790 , #6BCACE);padding:unset;}
    .ui-dialog .ui-dialog-titlebar {color:#d6be60;background:white; border-radius: 2px;border: unset;border-bottom-left-radius: unset;border-bottom-right-radius: unset;}
    .ui-dialog .ui-dialog-titlebar-close {background:rgb(196, 180, 115);border:unset;}
    .ui-dialog .ui-dialog-titlebar-close:hover {background: #CABD85;border:unset;}
    .ui-dialog .ui-dialog-titlebar .ui-button .ui-icon {background-image: url(https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png);}
    .ui-dialog .ui-dialog-buttonpane {background:unset;}
    .ui-dialog .ui-dialog-buttonpane button {background: rgb(196, 180, 115);color: white;}
    .ui-dialog .ui-dialog-buttonpane button:hover {background: #CABD85;border:}


    @media screen and (max-width: 640px) {
        body.sweepstakes a.elButton.large .sub { font-size: 10px;}
    }
    @media screen and (max-width: 400px) {
        .package .header { font-size: 28px;}
        .package .content {font-size:18px;}
        .package .content .saying {font-size:24px;}
    }
    @media screen and (max-width: 320px) {
        .package .content {font-size:16px;}
    }
</style>
{% endblock extra_stylesheets %}
{% block nav_sweepstakes %}
<div class="sweepstakes flex layout-row wrap justify-center"><span class="strong">Sweepstakes Ends&nbsp;{{sweepstakes.endDate | date_modify('-5 hours') | date('F jS, Y')}}</span></div>
{% endblock nav_sweepstakes %}
{% block body %}
<div class="row bgCover" style="background-image: linear-gradient(to bottom, #0F8790 , #6BCACE);">
    <div class="flex layout-col body">
        <div class="flex layout-col" style="padding:24px 0px 48px 0px;">
            <div class="contentInner fit-width flex layout-col">
                {% if error is not null %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ error }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="white font-28 text-center">The Luxury You Deserve With a Bonus</div>
                <div class="brown font-28 text-center"><b>Enjoy The Benefits of The CRUSH</b>XO<b> Membership</b></div>
                <div class="h-1" style="margin:40px 10%"></div>
                <div class="packages-container fit-width flex layout-xs-col layout-row wrap">
                    {% for product in products %}
                    <div class="package-wrapper flex-1 {{product.name}} flex layout-row">
                        <div class="package flex layout-col">
                            <div class="header text-center">
                                <span class="text-center">{{product.title}}</span>
                            </div>
                            <div class="content flex layout-col">
                                {{product.description | raw}}
                            </div>
                            <div class="footer">
                                <a class="package_action elButton brown large" data-package="{{product.id}}" data-price="{{product.price}}">
                                    {% if product.action %}
                                    <span class="main">{{product.action}}</span>
                                    {% endif %}
                                    {% if product.actionSub %}
                                    <span class="sub">{{product.actionSub}}</span>
                                    {% endif %}
                                    <div class="loading">
                                        <span class="processing">Processing...&nbsp;</span><i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="footer body flex layout-col section" style="background: #f2f2f2">
        <div class="contentInner flex layout-col dark-gray" style="margin-bottom:40px">
            <div class="font-16 text-center">{{sweepstakes.termsAndCondition | raw}}</div>
            <div class="font-16 text-center">
                NEED TO CONTACT US? <a href="https://crushxo.com/pages/contact">Contact Us - CLICK HERE</a>
            </div>
            <div class="font-16 flex layout-row wrap copyright center justify-center">
                <span class="text-center">Copyright 2019</span>
                <span class="text-center">&nbsp;|&nbsp;</span>
                <span class="text-center">CrushXO LLC</span>
                <span class="text-center">&nbsp;|&nbsp;</span>
                <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>

    <div class="payment-form" id="payment-form-dialog" style="display:none">
        {{ form_start(form, {'attr': {'id': 'form_upsell'}}) }}

            <div class="card-form  card-js" id="creditcard">
                {{ form_row(form.cc) }}
                {{ form_row(form.exp_month) }}
                {{ form_row(form.exp_year) }}
                {{ form_row(form.cvc) }}
            </div>
            {{ form_widget(form.cc_type) }}
            {{ form_widget(form.package) }}
        {{ form_end(form) }}
    </div>

    <div id="official-rules" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">CrushXO "Ultimate Spa Getaway" Sweepstakes Official Rules</h4>
          </div>
          <div class="modal-body">
            {% include 'RestomodsListingBundle:Sweepstakes:official_rules.html.twig' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


</div>
{% if restomods_facebook_pixel_id %}
<!-- Offer Conversion: restomods.com Sweeps Offer - 1972 Chevelle  -->
<iframe src="https://trk.mediatheo.com/aff_l?offer_id=16" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
{% endif %}
{% endblock body %}
{% block extra_javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

jQuery(function($) {
    init();
});

function init() {
    var vidDefer = document.getElementsByTagName('iframe');
    for (var i=0; i<vidDefer.length; i++) {
        if(vidDefer[i].getAttribute('data-src')) {
        vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
        }
    }

    importScript("https://d2q2bkkwoz3pe2.cloudfront.net/js/card-js.min.js?v2");
    importScript("https://d2q2bkkwoz3pe2.cloudfront.net/js/lazyload.min.js", function() {
        $("div.lazyload").lazyload();
        $("img.lazyload").lazyload();
    });


    var formName = $('form').attr('name');
    $('#' + formName + '_cc').attr('name', randomString('12'));
    function randomString(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for(var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }


    $('.package_action').click(function() {
        var formName = $('form').attr('name');
        $('#' + formName + '_package').val($(this).attr('data-package'));
        openPaymentDialog($(this), $(this).attr('data-price'));
    });
}

function openPaymentDialog(button, price) {
    var title = "Pay $" + price;
    var payment_dialog = $( "#payment-form-dialog" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            close: function() {
                console.log('close');
            }
        });
    var buttons = {};
    buttons[title] = function() {
        submitCC(button, price, payment_dialog);
    };
    payment_dialog.dialog("option", "title", "Sign Up Now and Claim Your Entries");
    payment_dialog.dialog({
        buttons: buttons,
    }).dialog("open");
}

function submitCC(button, price, dialog) {
    var formName = $('form').attr('name');
    var myCard = $('#creditcard');

    var cardNumber = CardJs.numbersOnlyString(myCard.CardJs('cardNumber'));
    var expiryMonth = myCard.CardJs('expiryMonth');
    var expiryYear = myCard.CardJs('expiryYear');
    var cvc = CardJs.numbersOnlyString(myCard.CardJs('cvc'));

    if (!myCard.CardJs('validateInputs')) {
        return;
    }
    $('#' + formName + '_cc_type').val(myCard.CardJs('cardType'));

    if (document.getElementsByTagName('form')[0].checkValidity()) {

        $('.package_action').off('click');
        button.addClass('loading');
        dataLayer.push({'event': 'membership', 'transactionTotal': parseFloat(price) / 2});

        setTimeout(function() {
            $('#' + formName + '_cc').attr('name', formName + '[cc]');
            $('form').submit();
        }, 500);
        dialog.dialog("close");
    }
}

</script>
{% endblock extra_javascripts %}

{% block pixel_block %}
    {{ settings.landingFooterScript | raw }}
{% endblock %}
