<p><strong>Welcome to RestoMods!</strong><p>
<p>Congratulations on entering for your chance to win {{ sweepstakes }}. As a Premium Member you get access to exclusive content, special car offers, free classified postings, in addition to your sweepstakes entries.</p>
<p>As a special offer for new members, get an extra entry into the sweepstakes for every friend who signs up. Just send, share, or post the link below with your friends and earn more entries for {{ sweepstakes }}!</p>
<p><a href="{{ referralUrl }}" style="color: inherit;text-decoration: none;">{{ referralUrl }}</a></p>
<p><strong>To complete your premium sign up please set your password using the link below</strong></p>
<p><strong><a href="{{ confirmationUrl }}" style="color: inherit;">Finish Creating Your Account</a></strong></p>
<p><strong>Your are already set in the sweepstakes</strong></p>
<p>Good Luck and happy cruising,<br>Chris & The RestoMods Team</p>
